{% extends "authentication/base.html" %}
{% load static %}
{% block title %} Create Account {% endblock %}
{% block content %}
<div class="parent flex justify-center gap-4 h-[100vh] lg:flex-nowrap flex-wrap items-start w-full font-poppins">
  <div class="flex flex-col px-3 md:px-6 py-10 lg:px-8   w-[90%] md:w-[500px]">
    <div>
                <p class="text-xl font-poppins font-semibold mt-12 text-center">Password Reset</p>
                <p class="text-base text-center">Create your new strong password</p>
                {% for error in form.new_password1.errors %}
                <p class="errortext text-center font-medium text-red-600">{{error}}</p>
                {% endfor %}
                {% for error in form.new_password2.errors %}
                <p class="errortext text-center font-medium text-red-600">{{error}}</p>
                {% endfor %}
            </div>
      <div class="w-full">
        <form class="form space-y-7" method="POST">
          {% csrf_token %}
          <div>
            <label for="password" class="block text-sm font-medium leading-6 text-gray-900">New Password</label>
            <div class="mt-1">
              <input id="password" name="new_password1" type="password" required class=" block w-full rounded-md border-0 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600  sm:leading-6">
            </div>
          </div>

          <div>
            <label for="password" class="block text-sm font-medium leading-6 text-gray-900">Re-Enter Password</label>
            <div class="mt-1">
              <input id="password" name="new_password2" type="password" required class="block w-full rounded-md border-0 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 sm:leading-6">
            </div>
          </div>
          
          
          <div>
            <button type="submit" class="flex w-full justify-center rounded-md bg-[#D4AF37] px-3 py-2 font-medium leading-6 text-black shadow-sm hover:bg-[#c49f26]">Change Password</button>
          </div>
        </form>
    
        <p class="mt-2 text-center text-sm text-gray-500">
          Have Your Password?
          <a href="/signup" class="font-semibold leading-6 text-[#D4AF37] hover:text-[#c49e22]">Signin</a>
        </p>
      </div>
    </div>
  </div>
{% endblock %}