{% extends "authentication/base.html" %}
{% load static %}
{% block title %} Password Reset {% endblock %}
{% block content %}
        <div class="flex justify-center mt-12 px-3 md:px-6">
            <div class="flex flex-col items-center text-center">
                <p class="text-xl font-poppins font-semibold text-center">Password Reset Succesfull</p>
                <img src="{% static 'images/success.svg' %}" alt="logo" class="w-64 mt-12">
                <p>Your Password has been succesfully reset<br/>please log in continue</p>
                <div class="flex flex-wrap mt-4 justify-center items-center gap-2">
                    <a href="{% url 'signin' %}" class="flex justify-center rounded-md border gap-2 border-[#D4AF37] w-64 py-2 font-medium leading-6 text-black shadow-sm hover:bg-[#D4AF37]" target="_blank">
                        Sign In
                    </a>
                </div>
            </div>
        </div>
{% endblock %}