{% extends "authentication/base.html" %}
{% load static %}
{% block title %} Create Account {% endblock %}
{% block content %}
<div class="flex justify-center items-center h-4/5 mt-12">
    <div class="flex flex-col items-center">
        <img src="{% static 'images/mailsent.svg' %}" alt="logo" class="w-64">  
        <p class="font-poppins text-xl mt-12 text-center">We have sent a mail containing the password reset link. <br/>Kindly check your inbox</p>
        <div class="flex flex-wrap mt-4 justify-center items-center gap-2">
            <a href="https://mail.google.com" class="flex justify-center rounded-md border gap-2 border-[#D4AF37] w-64 py-2 font-medium leading-6 text-black shadow-sm hover:bg-[#D4AF37]" target="_blank">
                Gmail
                <img src="{% static 'images/gmail.svg' %}" alt="" class="w-6">
            </a>
            <a href="https://outlook.office.com/owa/" class="flex justify-center rounded-md border gap-2 border-[#D4AF37] w-64 py-2 font-medium leading-6 text-black shadow-sm hover:bg-[#D4AF37]" target="_blank">
                Outlook
                <img src="{% static 'images/outlook.svg' %}" alt="" class="w-6">
            </a>
        </div>
        <p class="flex gap-2 opacity-60 mt-4">
            <img src="{% static 'images/info.svg' %}" alt="" class="w-4">
            Make sure to check your spam/junk folders
        </p>
    </div>
</div>
{% endblock %}